.gallery
  - size = :thumb
  - gallery_data(code).each_with_index do |item, i|
    %a{:href => item['image_uris'][:zoom], :class => 'gallery_'+size.to_s, :rel=>"lightbox[#{group_id}]", 'data-ob_shareLink'=>"http://www.equineartist.co.nz/", 'data-ob_caption' => html_escape("#{item['name']} - #{item['description']}") }
      %img{:src => item['image_uris'][size]}
      %span.item-name=item['name']
      - if item['description']
        %span.item-description=item['description']
      - if item['price']
        %span.item-description=item['price']
    - if (i < 9 && ((i+1) % 3 == 0)) || ((i >= 9) && ((i-8) % 4 == 0))
      .clear
  .clear
