.gallery
  - size = :thumb
  - gallery_data(code).each_with_index do |item, i|
    %a{:href => item['image_uris'][:zoom], :class => 'gallery_'+size.to_s, :rel=>'ChillBoxGroup1'+group_id}
      %img{:src => item['image_uris'][size]}
      %span.item-name=item['name']
      - if item['description']
        %span.item-description=item['description']
      - if item['price']
        %span.item-description=item['price']
    - if (i+1) % 4 == 0
      .clear
  .clear
