<div class='header-outer'>
    <div class='header'>
        <h1>Susan Ewen Paintings</h1>
        <div class='contacts'>
            <p>
                <span class='icon'>&#xe600;</span>
                +64 9 238 2039
            </p>
            <p>
                <span class='icon'>&#xe601;</span>
                (027) 471 0585
            </p>
            <p>
                <span class='icon'>&#xe602;</span>
                <span class='e'>susanewen / gmail, com</span>
            </p>
        </div>
    </div>
</div>