---
title: Susan Ewen Equine Artist. Auckland, New Zealand
---
.header-outer
  .header
    %h1 Susan Ewen Equine Artist
    .contacts
      %p
        %span.icon &#xe600;
        +64 9 238 2039
      %p
        %span.icon &#xe601;
        (027) 471 0585
      %p
        %span.icon &#xe602;
        %span.e susanewen / gmail, com
%section
  %header
    Works for sale
  =gallery :for_sale
%section
  %header
    Gallery
  =gallery :gallery
